# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/build
/src/main/examples/03-009.03-010.03-005.03-007.VARIOMUC-ETHERNET-1.412_14520002__X022a.sml
/src/main/examples/debug.docscript
